@font-face {
    src: url(FredokaOne-Regular.ttf);
    font-family: 'myImportedFont';
}
body {
    user-select: none;
    background-color: #232323;
    /* make the text centered*/
    text-align: center;
    color: #fff;
    font-family: 'myImportedFont', sans-serif;
    font-size: 200%;
}
/* h1,h2,h3,h4,h5,h6 {
    font-size: 200%;
    color: #fff;
} */

.my-name{
    /* border: #00ffd028 solid 3px; */
    border-radius: 10px;
    padding: 10px;

    /* width: 300px; */
    margin-top: 0;
    /* width: 600px; */
    font-size: 300%;
    /* put it in the center */
    margin-left: auto;
    margin-right: auto;
    

}

.rainbow-text {
    background-image: linear-gradient(to right, rgb(34, 0, 255), rgb(136, 0, 255), rgb(255, 0, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
p{
    color: #ffffff2b;
}

a{
    font-size: 200%;
    text-decoration: none;
    color: #fff;
}

.newLine{
    /* make them in a new line */
    display: block;
}
a:hover {
    font-size: 300%;
}

div{
    font-size: 300%;
}
.green-hover:hover{
    color: #00ffa6;
}
.blue-hover:hover{
    color: #00a6ff;

}
.pink-hover:hover{
    color: #c800ff;
}


/* footer{

    text-align: center;
   
    position: fixed;
    bottom: 0;
    width: 100%;

} */
